@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  display: grid;
  grid-template-rows: 35em 55em 64em 20em 10em 25em 8em;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: hsl(201, 11%, 66%);
}

.desktop-header {
  display: grid;
  grid-template-columns: 10em 10em 10em 10em 10em;
  grid-template-rows: 18em 5em 5em 3em;
  justify-content: center;
  text-align: center;
}

.desktop-header-img {
  opacity: 100%;
  position: absolute;
  width: 100%;
}

.mobile-header-img {
  display: none;
}

.website-logo {
  grid-column: 3;
  align-self: end;
  justify-self: center;
}

h1 {
  grid-column: 3;
  grid-row: 2;
  width: 16em;
  font-size: 2.2em;
  justify-self: center;
  align-self: center;
}

.p1 {
  grid-column: 3;
  grid-row: 3;
  width: 35em;
  justify-self: center;
}

a {
  text-decoration: none;
  color: white;
}
.a1 {
  grid-column: 2;
  grid-row: 4;
  background-color: hsl(171, 66%, 44%);
  padding: 0.8em;
  border-radius: 3em;
  width: 12em;
  align-self: center;
  position: relative;
  left: 2.6em;
  box-shadow: 1px 4px 12px hsl(171, 66%, 44%);
}
.a2 {
  grid-column: 4;
  grid-row: 4;
  background-color: hsl(233, 100%, 69%);
  padding: 0.8em;
  border-radius: 3em;
  width: 12em;
  align-self: center;
  position: relative;
  right: 4.5em;
  box-shadow: 1px 4px 12px hsl(233, 100%, 69%);
}

.a1:hover {
  opacity: 75%;
}

.a2:hover {
  opacity: 75%;
}

.computer-section {
  display: grid;
  grid-template-columns: 20em 14em 20em;
  grid-template-rows: 5em 10em 5em 8em 8em 10em 8em;
  justify-content: center;
}

.computer-image {
  grid-row: 3 / 5;
  grid-column: 1;
  position: relative;
  right: 20em;
}

.div2h2 {
  grid-column: 2;
  grid-row: 1;
  width: 20em;
  font-size: 1.9em;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.div2h2p {
  grid-column: 2;
  grid-row: 2;
  width: 40em;
  align-self: center;
  justify-self: center;
  text-align: center;
  position: relative;
  bottom: 3em;
}

h3 {
  font-size: 1.5rem;
}

.div2h31 {
  grid-column: 3;
  grid-row: 4;
}
.div2h32 {
  grid-column: 3;
  grid-row: 5;
}
.div2h33 {
  grid-column: 3;
  grid-row: 6;
}

.div2h3p1 {
  grid-column: 3;
  grid-row: 4;
  position: relative;
  top: 2em;
}
.div2h3p2 {
  grid-column: 3;
  grid-row: 5;
  position: relative;
  top: 2em;
}
.div2h3p3 {
  grid-column: 3;
  grid-row: 6;
  position: relative;
  top: 2em;
}

.mobile-section {
  display: grid;
  grid-template-columns: 25em;
  grid-template-rows: 12em 6em 40em 12em;
  justify-content: center;
}

.div3h2 {
  margin-top: 4em;
  grid-row: 1;
  font-size: 1.9em;
  justify-self: center;
  align-self: center;
}

.div3p {
  grid-row: 2;
  justify-self: center;
  text-align: center;
  width: 40em;
  height: 10em;
  font-size: 1.2em;
}

.mobile-image {
  grid-row: 3;
  justify-self: center;
}

.hswy {
  grid-row: 4;
  grid-column: 1;
  justify-self: center;
  text-align: center;
  width: 20em;
  font-size: 2em;
  height: 3em;
}
.swy {
  grid-row: 4;
  grid-column: 1;
  position: relative;
  top: 3.5em;
  justify-self: center;
  height: 2em;
}

.tools {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  grid-template-rows: 20em;
  justify-content: center;
  gap: 1em;
}

.tool1,
.tool2,
.tool3 {
  justify-self: center;
  text-align: center;
  align-self: center;
}

.tool1img,
.tool2img,
.tool3img {
  position: relative;
  bottom: 3em;
}

.tool1p,
.tool2p,
.tool3p {
  position: relative;
  top: 1em;
}

.companies-logos {
  margin-top: 2em;
  display: grid;
  grid-template-rows: 4em;
  grid-template-columns: repeat(5, 10em);
  gap: 8em;
  align-self: center;
  justify-self: center;
}

.finish {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 10em 10em 10em;
  grid-template-rows: 4em 4em 6em;
  justify-content: center;
  text-align: center;
}
.div5h {
  grid-row: 1;
  grid-column: 2;
  font-size: 2em;
  justify-self: center;
  align-self: center;
  width: 25em;
}

.div5p {
  align-self: center;
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
  width: 38em;
}

.a3 {
  grid-row: 3;
  grid-column: 1;
  background-color: hsl(171, 66%, 44%);
  padding: 0.8em;
  border-radius: 3em;
  width: 12em;
  align-self: center;
  justify-content: center;
  position: relative;
  left: 2.6em;
  box-shadow: 1px 4px 12px hsl(171, 66%, 44%);
}

.a4 {
  grid-row: 3;
  grid-column: 3;
  background-color: hsl(233, 100%, 69%);
  padding: 0.8em;
  border-radius: 3em;
  width: 12em;
  align-self: center;
  position: relative;
  right: 4.5em;
  box-shadow: 1px 4px 12px hsl(233, 100%, 69%);
  position: relative;
}

.a3:hover {
  opacity: 75%;
}
.a4:hover {
  opacity: 75%;
}

footer {
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: 18em 10em 15em 8em 10em 10em 18em;
  justify-content: center;
  align-self: center;
}
.footer-logo {
  height: 60%;
  align-self: center;
  position: relative;
  left: 4em;
}

.f1 a,
.f2 a,
.f3 a {
  color: hsl(210, 10%, 33%);
  line-height: 2em;
  font-size: 18px;
}

.f1 a:hover {
  color: hsl(171, 66%, 44%);
}

.f2 a:hover {
  color: hsl(171, 66%, 44%);
}
.f3 a:hover {
  color: hsl(171, 66%, 44%);
}

.f1 {
  grid-column: 2;
  align-self: center;
  position: relative;
  left: 4em;
}
.f2 {
  align-self: center;
  position: relative;
  left: 5em;
}
.f3 {
  align-self: center;
  position: relative;
  bottom: 1em;
  left: 2em;
}

.s1,
.s2,
.s3 {
  grid-column: 7;
  grid-row: 1;
  align-self: center;
  cursor: pointer;
}

.s1 {
  position: relative;
  left: 4em;
}
.s2 {
  position: relative;
  left: 6em;
}
.s3 {
  position: relative;
  left: 8em;
}

.s2 path:hover {
  fill: cyan;
}

@media (max-width: 930px) {
  body {
    grid-template-columns: 20em;
    grid-template-rows: 41em 66em 55em 50em 30em 40em 25em;
    justify-content: center;
    align-self: center;
    gap: 8em;
  }

  .desktop-header-img {
    display: none;
  }
  .mobile-header-img {
    display: inline;
    position: absolute;
    right: 0;
    width: 100%;
  }

  .desktop-header {
    margin-top: 0;
    grid-template-columns: 5em 5em 5em 5em 5em;
    grid-template-rows: 15rem 10rem 6rem 5rem 5rem;
    justify-content: center;
    align-self: center;
  }

  .website-logo {
    grid-row: 1;
    grid-column: 3;
  }

  h1 {
    grid-row: 2;
    width: 22rem;
  }

  .p1 {
    grid-row: 3;
    width: 21.8rem;
  }

  .a1 {
    position: relative;
    left: 0;
    justify-self: center;
    grid-row: 4;
    grid-column: 3;
    width: 21rem;
    font-size: 1.25rem;
  }
  .a2 {
    grid-row: 5;
    grid-column: 3;
    position: relative;
    right: 0;
    justify-self: center;
    width: 21rem;
    font-size: 1.25rem;
  }

  .computer-section {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    grid-template-rows: 10em 10em 10em 10em 10em 10em 10em;
    justify-content: center;
  }

  .div2h2 {
    grid-row: 1;
    grid-column: 2;
    width: 20rem;
  }

  .div2h2p {
    grid-row: 2;
    grid-column: 2;
    width: 22rem;
  }

  .computer-image {
    grid-row: 3;
    grid-column: 2;
    height: 166%;
    justify-self: center;
    position: relative;
    right: 0;
  }

  .div2h31 {
    grid-column: 2;
    grid-row: 5;
    width: 10em;
    font-size: 1.5rem;
    text-align: center;
    justify-self: center;
  }

  .div2h3p1 {
    grid-column: 2;
    grid-row: 5;
    width: 22rem;
    align-self: center;
    justify-self: center;
    position: relative;
    top: 0em;

    text-align: center;
  }

  .div2h32 {
    grid-column: 2;
    grid-row: 6;
    width: 10em;
    font-size: 1.5rem;
    text-align: center;
    justify-self: center;
  }

  .div2h3p2 {
    grid-column: 2;
    grid-row: 6;
    width: 20rem;
    align-self: center;
    justify-self: center;
    position: relative;
    top: -0.8rem;
    text-align: center;
  }

  .div2h33 {
    grid-column: 2;
    grid-row: 7;
    width: 10em;
    font-size: 1.5rem;
    text-align: center;
    justify-self: center;
  }

  .div2h3p3 {
    grid-column: 2;
    grid-row: 7;
    width: 20rem;
    align-self: center;
    justify-self: center;
    position: relative;
    top: -0.6rem;
    text-align: center;
  }

  .mobile-section {
    grid-template-columns: repeat(3, 5em);
    grid-template-rows: 12em 10em 10em 16em 5em;
    position: relative;
    bottom: 4.5rem;
  }

  .div3h2 {
    grid-row: 1;
    grid-column: 2;
    width: 18rem;
    text-align: center;
    align-self: center;
  }

  .div3p {
    grid-row: 2;
    grid-column: 2;
    width: 24rem;
    height: 6rem;
    align-self: center;
  }

  .mobile-image {
    grid-row: 3;
    grid-column: 2;
    height: 166%;
  }

  .hswy {
    grid-row: 4;
    align-self: center;
    grid-column: 2;
    width: 20rem;
    position: relative;
    top: 7.5rem;
  }

  .swy {
    grid-row: 5;
    grid-column: 2;
    width: 18rem;
    position: relative;
    top: 2.5rem;
    text-align: center;
    justify-self: center;
  }

  .tools {
    grid-template-columns: 5em 5em 5em;
    grid-template-rows: 15em 15em 15em;
    position: relative;
    bottom: 8rem;
  }
  .tool1 {
    grid-row: 1;
    grid-column: 2;
  }
  .tool2 {
    grid-row: 2;
    grid-column: 2;
  }

  .tool3 {
    grid-row: 3;
    grid-column: 2;
  }
  .tool1p {
    width: 22rem;
  }

  .tool2p {
    width: 22rem;
  }

  .tool3p {
    width: 22rem;
  }

  .companies-logos {
    grid-template-rows: repeat(5, 10rem);
    grid-template-columns: 5em 5em 5em;
    margin: 0;
    gap: 0;
    position: relative;
    bottom: 4rem;
  }

  .companies-logos img {
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }

  .finish {
    grid-template-columns: 5em 5em 5em;
    grid-template-rows: 10rem 4rem 10rem 5rem;
  }
  .div5h {
    grid-column: 2;
    grid-row: 1;
    width: 22rem;
  }
  .div5p {
    grid-column: 2;
    grid-row: 2;
    width: 21.5rem;
    position: relative;
    bottom: 0.5rem;
  }

  .a3 {
    grid-column: 2;
    grid-row: 3;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-self: center;
    width: 18rem;
    font-size: 1.25rem;
  }
  .a4 {
    grid-column: 2;
    grid-row: 4;
    position: relative;
    top: -2.5rem;
    right: 0;
    left: 0;
    bottom: 0;
    justify-self: center;
    width: 18rem;
    font-size: 1.25rem;
  }

  footer {
    position: relative;
    bottom: 8rem;
    grid-template-columns: 3em 3em 3em;
    grid-template-rows: 12em 5em 5em 5em 8em;
    text-align: center;
  }

  .footer-logo {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    left: 0;
    height: 40%;
    align-self: center;
    justify-self: center;
  }

  .f1 {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    left: 0;
    top: 0;
    width: 8rem;

    justify-self: center;
  }

  .f2 {
    grid-column: 2;
    grid-row: 3;
    position: relative;
    left: 0;
    top: -0.5rem;
    width: 8rem;
    align-self: center;
    justify-self: center;
  }

  .f3 {
    grid-column: 2;
    grid-row: 4;
    position: relative;
    left: 0;
    top: -2rem;
    width: 8rem;
    justify-self: center;
  }

  .s1,
  .s2,
  .s3 {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    grid-column: 2;
    grid-row: 5;

    justify-self: center;
  }
  .s1 {
    position: relative;

    left: -3rem;
  }

  .s3 {
    position: relative;
    left: 3rem;
  }
}

.credit {
  margin: auto;
  position: relative;
  bottom: 11rem;
}
.credit a {
  color: steelblue;
}
